.image {
    height: 5rem;
    width: 5em;
}

.bg {
    background-color: #21222A;
    height: 15vh;
}

.bg-2 {
    background-color: #33373E;
    height: 80vh;
}

.footer {
    background-color: #21222A;
    height: 5vh;
}

.nav-items {
    list-style: none;
    display: flex;

}

li {
    cursor: pointer;
}